body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
}

/* colors */
/* blue: #0C1266 */
/* yellow: BD7B18 */
/* gray: #FBFBFB */


.nav {
    width: 100%;
}


.navbar {
    align-items: center;
    background: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: sticky;
    /* box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%); */
    top: 0;
    justify-content: space-between;
    z-index: 1;
}

.nav-logo-img {
    height: 60px;
}

.nav-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.nav-option-item1 {
    margin-right: 70px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: rgb(155, 155, 155);
}
.nav-option-item1:hover, .nav-option-item2:hover, .nav-option-item3:hover, .nav-option-item4:hover {
    font-weight: bolder;
    color: #BD7B18;
    text-decoration: underline ;

}
.nav-option-item2 {
    margin-right: 70px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    color: rgb(155, 155, 155);
}
.nav-option-item3 {
    margin-right: 70px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    color: rgb(155, 155, 155);
}
.nav-option-item4 {
    margin-right: 70px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    color: rgb(155, 155, 155);
}
.nav-option-item:hover {
    text-decoration: underline;
}

.active {
    margin-right: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
    background: #BD7B18;
    color: #fff !important;
    text-decoration: none !important;
    /* -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards; */
}

/* @-webkit-keyframes slideIn {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  } */



.home-container {
    /* padding-top: 50px; */
    pa-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0px;
    justify-content: center;
}
.home-build-container {
    width: 50%;
    /* height: 400px; */
}
.home-text-container {
    padding-top: 100px;
    width: 40%;
    height: 400px;
}
.home-img {
    width: 100%;
}
.home-title {
    font-size: 34px;
    font-weight: bolder;
}
.section-title {
    text-align: center;
    font-size: 40px;
    padding: 100px 0 20px;
    font-weight: bolder;
}
.home-sub-title {
    font-weight: bold;
    color: rgb(155, 155, 155);
}
.home-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.home-btn1:hover  {
    margin-right: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
    border: 2px solid #BD7B18;
    border-radius: 5px;
    padding: 10px 30px;
    background: #fff;
    color: #BD7B18;
    text-decoration: none !important;
    cursor: pointer;
    /* -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards; */
}
.home-btn1{
    margin-right: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
    background: #BD7B18;
    color: #fff;
    text-decoration: none !important;
    cursor: pointer;
    /* -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards; */
}
.home-btn2 {
    margin-right: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
    background: #0C1266;
    color: #fff;
    text-decoration: none !important;
    cursor: pointer;
    /* -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards; */
}
.home-btn2:hover  {
    margin-right: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #0C1266;
    border-radius: 5px;
    padding: 10px 30px;
    background: #fff;
    color: #0C1266;
    text-decoration: none !important;
    cursor: pointer;
    /* -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards; */
}
.canduit {
    height: 220px;
    top: 150;
    position: relative;
    left: 150px;
    z-index: 1;
}
.pipework {
    height: 180px;
    position: relative;
    right: 110;
    top: 30;
}
.elbow {
    height: 150px;
    top: -670;
    left: 300;
    transform: rotate(25deg);
    position: relative;
}
.breaker {
    z-index: -1;
    height: 320px;
    top: -400;
    right: 10;
    position: relative;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    background: #FBFBFB;
    margin: 50px 0;
}
.cards {
    height: 250px;
    width: 200px;
    background: #BD7B18;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards> h3 {
    font-weight: bold;
}

.card-img {
    height: 100px;
}

.cards:hover {
    height: 250px;
    width: 200px;
    color: #fff;
    background: #0C1266;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 70px 0;
    
}
.product-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;
}
.product-card {
    height: 430px;
    width: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 30px 0 rgb(0 0 0 / 15%);
    justify-content: center;
    align-items: center;
}
.product-some-container {
    width: 100%;
    height: 600px;
}
.badge {
    
}
.product-info-badge {
    width: 50px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
    background: #BD7B18;
    color: #fff;
    text-decoration: none !important;
    margin: 0 10px;

}

.product-img {
    height: 250px;
    width: 100%;
    background: #0C1266;
    margin: 0;
}
.product-info {
    height: 180px;
    width: 100%;
}
.product-info-name {
    margin-left: 10px;
}
.product-info-description {
    font-weight: bold;
    margin-left: 10px;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    color: rgb(155, 155, 155);
}


.about-container {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.about-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.about-text-container {
    width: 100%;
    margin: 30px;
    padding: 20px;
    background: #BD7B18;
    color: #fff;
}
.about-text-container2 {
    width: 100%;
    margin: 30px;
    padding: 20px;
    background: #0C1266;
    color: #fff;
}
.about-text {
    text-indent: 50px;
  text-align: justify;
  letter-spacing: 1px;
}
.about-img {
    width: 500px;
}
.about-img2 {
    width: 300px;
}
.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    padding: 70px;
    justify-content: center;
}
.contact-text-form {
    display: flex;
    /* width: 100%; */
    height: 320px;
    flex-direction: column;
    margin: 0 80px;
}
.contact-text-form-name {

/* margin: 10px; */
}
.contact-text-form-name1 {
    margin-top: 5px;
}
.contact-text-form-required {

color: red;
}
.contact-text-form-input {
    border: 1px solid rgb(185, 185, 185);
    padding: 6px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}
.contact-text-form-area {
border: 1px solid #b9b9b9;
border-radius: 2px;
font-size: 16px;
}
.contact-btn-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contact-btn {
    width: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
    background: #BD7B18;
    color: #fff;
    text-decoration: none !important;
    margin: 0 10px;
}
.contact-btn:hover {
    width: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
    background: #0C1266;
    color: #fff;
    text-decoration: none !important;
    margin: 0 10px;
}
/* .contact-some-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    
} */
.contact-text {
    width: 50%;
    display: flex;
    /* align-items: center; */
    height: 500px;
    justify-content: space-evenly;
    flex-direction: column;
}

.contact-map {
    width: 50%;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FBFBFB;
}
.footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #FBFBFB;
}
.footer-some-container {
    width: 100%;
    height: 400px;
}

.footer-logo {

width: 30%;
}
.footer-contact {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-follow {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-contact-title {
   
}
.footer-contact-sub {
    cursor: pointer;
    font-size: 18px;
    margin: 0 0 30px;

}
.bottom-box-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 72.24px;
}
.bottom-box-media-links {
    margin: 0 12px;
    font-size: 26px;
}
.evo {
    display: flex;
    justify-content: center;
    font-size: 17px;
}
.fa-facebook {
    color: #000000;
    border: none;
    outline: none;
    text-decoration: none;
  }
.fa-twitter {
    color: #000000;
    border: none;
    outline: none;
    text-decoration: none;
  }
  
  .fa-instagram {
    color: #000000;
    border: none;
    outline: none;
    text-decoration: none;
  }
  .fa-google {
    color: #000000;
    border: none;
    outline: none;
    text-decoration: none;
  }
  

  @media screen and (min-width:1023px) {
    .home-text-container {
        width: 50%;
        text-align: center;
    }
    .home-build-container {
        width: 46%;
    }
    .home-btn {
        display: flex;
        justify-content: space-evenly;
    }
    .home-btn1, .home-btn2 {
        margin-right: 0px;
        width: 190px;
    }
    .home-btn1:hover, .home-btn2:hover  {
        margin-right: 0px;
    }
  }


  @media screen and (min-width:767px) and (max-width:1023px){
    .about-img-container{
    padding-left: 30px;
    }
    .about-img2 {
        width: 100%;
    }
    .home-container {
        padding: 50px 5px;
    }
    .home-build-container {
        width: 60%;
    }
    .home-text-container {
        width: 95%;
        text-align: center;
        padding: 100px 10px 0 10px;
    }
    .home-btn {
        display: flex;
        justify-content: space-around;
    }
    .home-btn1, .home-btn2 {
        margin-right: 0px;
        width: 190px;
    }
    .product-card {
        margin: 0 5px;
    }
    .about-img {
        width: 450px;
    }
    .contact-text-form {
        margin: 0 35px;
    }
    .nav-option-item1, .nav-option-item2, .nav-option-item3, .nav-option-item4 {
        margin-right: 55px;
    }
    .active {
        margin-right: 40px;
    }
  }


  @media screen and (max-width:767px){
    .cards {
        width: 225px;
        height: 260px;
    }
    .about-text {
        font-size: 20px;
    }
    .about-img {
        width: 430px;
    }
    .product-container-row {
        padding: 0 7px;
    }
    .product-card {
        height: 500px;
        margin: 0px 5px;
    }
    .product-img {
        height: 335px;
    }
    .product-info {
        height: 240px;
    }
    .product-info-name {
        font-size: 25px;
    }
    .product-info-description {
        font-size: 19px;
    }
    .product-info-badge {
        width: 60px;
        font-size: 18px;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-text {
        width: 90%;
    }
    .contact-text-form-input {
        height: 40px;
    }
    .contact-text-form-area {
        height: 230px;
    }
    .contact-btn-box {
        margin-top: 25px;
    }
    .contact-map {
        width: 100%;
        margin-bottom: 40px;
    }
    .nav-option-item1, .nav-option-item2, .nav-option-item3, .nav-option-item4 {
        margin-right: 55px;
        font-size: 18px;
    }
    .active {
        margin-right: 40px;
        font-size: 18px;
    }
    .contact-text {
        width: 100%;
        height: 530px;
        margin-bottom: 60px;
    }
    .contact-text-form-input {
        font-size: 25px;
    }
    .contact-text-form-area {
        font-size: 25px;
        height: 120px;
    }
    .contact-map {
        width: 100%;
    }
    .home-btn1, .home-btn2 {
        width: 100px;
        text-align: center;
    }
    .home-container {
        padding: 50px 2px;
        justify-content: space-around;
    }
    .home-build-container {
        width: 35%;
    }
    .home-text-container {
        padding: 100px 15px 0 15px;
        width: 55%;
    }
    .home-title {
        font-size: 33px;
        text-align: center;
    }
    .home-sub-title {
        text-align: center;
        font-size: 22px;
    }
    .cards> h3 {
        font-size: 22px;
    }
    .contact-text-form-name1, .contact-text-form-name  {
        font-size: 18px;
    }
  }